*.pyc
*.pyo
*.log
*.pot
*.wsgi
*.map
.DS_Store
.tm_properties
.sass-cache
src/static
src/media
src/config/settings/dev_private.py
src/config/settings/prod_private.py
node_modules/
bower_components/
__pycache__/
.cache
.coverage
.pytest_cache/
.ssl
*.sqlite3
